ul.gridder {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 0;
}
ul.gridder > li.gridder-list, .gridder-show {
    font-size: 16px;
}
ul.gridder > li.gridder-list {
    display: inline-block;
    vertical-align: top;
}
ul.gridder > li.gridder-list {
    width: 15.83333%;
}
ul.gridder > li.gridder-list:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%;
}
ul.gridder > li.gridder-list:nth-of-type(6n) {
    margin-right: 0;
    margin-bottom: 0;
}
a.gridder-nav.disabled {
   color: #ccc;
   cursor: not-allowed;
}
div.gridder-show {
    display: block;
    float: left;
    width: 100%;
    position: relative
}
div.gridder-navigation {
    border:1px solid #ccc;
    border-radius:5px;
    padding:5px;
}